# Archivos compilados y binarios
*.exe
*.out
*.o
*.cbp
*.depend
*.layout

# Directorios generados por IDEs
.bin/
.vscode/
.obj/

# Archivos de configuración específicos
config.json

readme.md
explain.md